body {
    font-family: 'Montserrat', sans-serif;
    color: #2B3541;
}
.container {
    max-width: 1817.4px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-basis: 63%;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 49px;
    padding-bottom: 27px;
}
.header-logo {
    display: block;
    background-image: url(../img/Logo.svg);
    width: 97px;
    height: 30px;
    background-size: cover;
    margin-left: 52px;
}
.header-nav {
    display: flex;
    list-style-type: none;
    gap: 54px;
    justify-content: space-between;
} 
.header-nav a {
    text-decoration: none;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #2B3541;
}
.header-nav a::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 1.5;
    background: transparent;
}
.header-nav a.active::after {
    background: #2B3541;
}
a:hover {
    text-decoration: underline;
    color: #2B3541;
}
.social-item {
    display: flex;
    align-items: center;
    gap: 30px;
}
.header-inst {
    display: block;
    background: url(../img/IN.svg) no-repeat center center /cover;
    width: 30px;
    height: 30px;
    transition: 0.3s;
 }
 
 .header-fb {
    display: block;
    background: url(../img/FB.svg) no-repeat center center /cover;
    width: 30px;
    height: 30px;
    transition: 0.3s;
 }
 
 .header-inst:hover,
 .header-fb:hover {
    transform: scale(1.2);
 }

/* Banner */

.banner-box {
    color: #2B3541;
    background-image: url(../img/MainBannerGrups.jpg);
    background-size: cover;
    background-position: 0 center;
    background-repeat: no-repeat;
    position: relative;
    width: 996px;
    height: 852px;
    left: 719px;
    text-align: left;
    margin-bottom: 160px;
    margin-top: -9px;
}
.banner-title {
    color: #2B3541;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 48px;
    line-height: 125%;
    margin-left: -326px;
    margin-top: 0;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 226px;
}
.banner-text {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 400;
    line-height: 130%;
    margin-left: -322px;
    margin-top: 42px;
    letter-spacing: 0.05em;
}
.banner-res {
    max-width: 353px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 18px;
    margin-top: 0px;
    margin-left: -236px;
}
.banner-link {
    color: #2B3541;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    background: #FBF138;
    padding: 20px 28px;
    transition: 0.2s;
    margin-top: 10px;
    margin-left: -235px;
    letter-spacing: 0.04em;
}
.banner-link:hover {
    font-weight: 700;
    background-color: #2B3541;
    color: #FBF138;
    text-decoration: none;
}
.nav-arrow img {
    background-image: url(../img/arrow.svg);
    width: 52px;
    height: 55px;
    bottom: -205px;
    position: relative;
    right: 238px;
}

/* Заголовок Ближайшие события 1 */

.section1 {
    margin-bottom: 160px;
}
.menu-header {
    align-items: center;
}
.container1 {
    max-width: 1045px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.menu-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    margin-bottom: 40px;
}

/* Ближайшие события х2*/
.menu-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 38px;
    /* margin-top: 130px; */
    /* margin-bottom: 0; */
    margin: 130px 0 0;
}
.menu-greeds {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 600px);
    gap: 20px;
}
.menu-greed-item-maraphon {
    position: relative;
    width: 367px;
    height: 600px;
}
.menu-greed-item-maraphon:hover .menu-grid-overlay {
    opacity: 1;
    transition: 1s;
}
.menu-grid-img-1 {
    position: absolute;
    background-image: url(../img/grid1/Marapfone.jpg);
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.menu-grid-img-2 {
    position: absolute;
    background-image: url(../img/grid1/Vebinar.jpg);
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.menu-grid-img-3 {
    position: absolute;
    background-image: url(../img/grid1/Vebinar2.jpg);
    background-repeat: no-repeat;
    display: block;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    z-index: -1;    
}
.menu-grid-overlay {
    position: absolute;
    background: linear-gradient(180deg, rgba(251, 241, 56, 0.6) 0%, rgba(253, 249, 182, 0) 100%);
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0;
}
.menu-grid-maraphon-text {
    padding: 30px;
}


.menu-grid-btn {
    max-width: 221px;
    padding: 20px 37px;
    background-color: #2B3541;
    color: #FBF138;
    border: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    opacity: 0;
    cursor: pointer;
}
.menu-greed-item-maraphon:hover .menu-grid-btn {
    background-color: #2B3541;
    color: #FBF138;
    opacity: 1;
    transition: 1s;
}

.menu-greed-1nt:hover {
    background-image: url(../img/@2x/maraphonhover@2x.png);
    transition: 1s;
}
.menu-grid-data {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #2B3541;
    opacity: 0.6;
}
.menu-grid-maraphon-mrf {
    position: absolute;
    background-color: #FBF138;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 150%;
    right: 0;
    bottom: 0;
}
.menu-greed-item-maraphon:hover .menu-grid-maraphon-mrf {
    opacity: 0;
    transition: 1s;
}
.menu-grid-btn-add {
    display: none;
    position: absolute;
    background-image: url(../img/icons/add.svg);
    height: 30px;
    width: 30px;
    right: 0;
    bottom: 0;
    border: none;
}
.menu-grid-title {
    max-width: 260px;
    font-weight: 700;
    font-size: 28px;
    line-height: 125%;
    padding-top: 19px;
    padding-bottom: 40px;
    margin: 0;
}






/* Grid Events / Ближайшие события  */

.events-grid {
    display: grid;
    grid-template-columns: 367px 367px 367px;
    justify-content: center;
    gap: 20px;
}
.events-grid-cover {
    width: 367px;
    height: 600px;
    position: relative;
    margin-left: 50px;
}
.menu-grid-maraphon-mrf {
    position: absolute;
    background-color: #FBF138;
    padding: 10px 20px;
    font-size: 18px;
    line-height: 150%;
    right: 0;
    bottom: 0;
}
.events-grid {
    margin: 0 auto;
    justify-content: center;
}
.events-link {
    color: #2B3541;
    font-size: 18px;
    line-height: 150%;
    text-decoration: none;
    background: #FBF138;
    padding: 12px 20px;
    transition: 0.2s;
    margin-top: 10px;
    letter-spacing: 0.04em;
    margin-left: 242px;
}
.events-link:hover {
    font-weight: 700;
    background-color: #2B3541;
    color: #FBF138;
    text-decoration: none;
}
.events-date {
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    opacity: 0.6;
    margin-top: -567px;
    margin-left: 33px;
}
.events-item {
    font-size: 28px;
    font-weight: 700;
    line-height: 125%;
    margin-left: 33px;
    margin-top: 10px;
    margin-bottom: 413px;
}
/* Section 2 */

/*margin-bottom: 160px;*/

.training {
    max-width: 1143px;
    margin: 0 auto;
    padding-left: 100px;
    margin-bottom: 160px;
}
.schedule-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.schedule-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 125%;
    margin-bottom: 40px;
    max-width: 356px;
}
.schedule-date {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 40px;
    line-height: 125%;
    padding-top: 10px;

}
.container1 {
    margin-bottom: 125px;
}

.timetable-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 250px 60px 90px 280px;
    gap: 20px;
}
.timetable-grid-itemLeft {
    margin: 0;
}

.timetable-grid-item {
    border: 1px solid #2B3541;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.timetable-grid-item:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.timetable-grid-item:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 4;
}
.timetable-grid-item:nth-child(3) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
}
.timetable-grid-item:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}
.timetable-grid-item:nth-child(5) {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.timetable-grid-item:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 3 / 5;
}

/* section email input */

.section-email {
    margin-bottom: 160px;

}
.container-email {
    margin: 0 auto;
}
.email-header {
    background-image: url(../img/Rectangle\ 167.jpg);
    background-size: cover;
    background-position: center center;
    padding: 100px;
    background-repeat: no-repeat;
    margin: 0;
}
.email-title {
    font-weight: 700;
    font-size: 40px;
    margin-left: 74px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
    text-align: center;
}
.email-input {
    margin-left: 74px;
    margin-bottom: 0;
    margin-top: 40px;
    text-align: center;
}
.input-email {
    font-size: 18px;
    line-height: 150%;
    padding: 20px 136px 20px 20px;
    border: none;
    margin-right: 20px;
}
.input-button {
    color: #404142;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    text-decoration: none;
    background: #FBF138;
    padding: 19px 47px;
    transition: 0.2s;
    letter-spacing: 0.04em;
    border: none;
    text-transform: uppercase;
}
.input-button:hover {
    font-weight: 700;
    background-color: #2B3541;
    color: #FBF138;
}
.email-checkbox {
    text-align: center;
    font-size: 11px;
    line-height: 150%;
    margin-top: 14px;
    margin-right: 206px;
}

/* about company     padding: 20px 28px; */

.company {
    margin-bottom: 160px;
}
.company-flex-text {
    display: flex;
}
.company-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 125%;
    padding-top: 0;
    padding-bottom: 20px;
    margin: 0;
}
.company-text {
    font-size: 18px;
    line-height: 150%;
    padding-bottom: 55px;
    padding-top: 0;
    margin: 0;
}
.company-flex-img {
    position: absolute;
    width: auto;
    height: 336px;
    right: 0;
    top: 0;
}
.company-blok {
    padding-bottom: 45px;
    max-width: 1143px;
    margin: 0 auto;
}
.company-flex {
    position: relative;
}
.company-flex-text {
    max-width: 483px;
    display: block;
}

/* block plus (2) */ 

.company-blok-plus {
    display: flex;
    justify-content: space-between;
    gap: 67px;
    list-style-type: none;
    padding-left: 0;
    margin-top: 142px;
}
.company-blok-plus-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
}
.company-blok-plus-text {
    font-size: 18px;
    line-height: 150%;
    opacity: 0.6;
}

/* button */

.company-button {
    padding: 23px 52px;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: #2B3541;
    background: #FBF138;
    box-shadow: 0px 13px 24px rgba(251, 241, 56, 0.3);
}
.company-button:hover {
    font-weight: 700;
    background-color: #2B3541;
    color: #FBF138;
    text-decoration: none;
}
.company-blok-2 {
    display: flex;
    justify-content: space-between;
    gap: 67px;
    list-style-type: none;
    padding-left: 0;
    margin-top: 142px;
}
.company-blok-2 li {
    flex-basis: content;
}
.company-blok-2-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 125%;
}
.company-blok-2-text {
    font-size: 18px;
    line-height: 150%;
    opacity: 0.6;
}
.mobile-hidden {
    display: none;
}